joblib
vaderSentiment
streamlit==1.26.0
pandas==1.5.3
numpy==1.23.5
yfinance==0.2.37
ta==0.10.2
scikit-learn==1.3.0
matplotlib==3.7.1
joblib==1.3.2
schedule==1.2.1
shap==0.42.1
python_version=="3.10.*"
schedule
tensorflow==2.10.1  
